body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: linear-gradient(90deg, #38bdf8, #6366f1);
  border: none;
  padding: 12px 25px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px #38bdf8;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
  border-bottom: 1px solid #38bdf8;
}

.logo {
  color: #38bdf8;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.nav-links a.active {
  color: #38bdf8;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #38bdf8;
  animation: slide 0.3s ease-in-out;
}

@keyframes slide {
  from { width: 0; }
  to { width: 100%; }
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #38bdf8;
}

.project-card a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}
