.home {
  padding: 80px;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.profile-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
  border: 4px solid #00ffff;
}

.home-text h1 {
  font-size: 42px;
}

.home-text h3 {
  color: #00ffff;
}

.buttons a {
  margin-right: 15px;
  padding: 12px 20px;
  background: #00ffff;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
