.projects-container {
  padding: 60px 20px;
  text-align: center;
  min-height: 80vh;
}

.projects-title {
  font-size: 32px;
  margin-bottom: 40px;
  color: #38bdf8;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.project-card {
  background: #0f172a;
  border: 1px solid #38bdf8;
  border-radius: 12px;
  padding: 20px;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(56, 189, 248, 0.4);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h3 {
  margin-bottom: 10px;
  color: white;
}

.project-card p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #cbd5e1;
}

.project-card .tech {
  font-weight: bold;
  color: #38bdf8;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #38bdf8;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.project-card a:hover {
  background: white;
}
