.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: black;
}

.navbar h2 {
  color: #00ffff;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 18px;
}

.navbar a:hover {
  color: #00ffff;
}
